.menssectionhover {
  min-width: 768px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: -1; /* Set a negative z-index to place it beneath other elements */
  transition: transform 300ms;
}

.menssectionhover:hover {
  transform-origin: 50% 50%;
  transform: scale(1.05);
}

.buttonhoverandimage{
  transition: 0s;
  transform-origin: 50% 50%;
  transform: scale(1.05);
}

  /* Small devices (≥576px) */
  @media (min-width: 576px) {
 
  }
  
  /* Medium devices (≥768px) */
  @media (min-width: 768px) {

  }
  
  /* Large devices (≥992px) */
  @media (min-width: 992px) {

  }
  
  /* Extra large devices (≥1200px) */
  @media (min-width: 1200px) {
   
  }
  
  /* Extra extra large devices (≥1400px) */
  @media (min-width: 1400px) {
  
  }
  
  